<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qhn.mybase">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--<application-->
        <!--android:name=".BaseApp"-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme"-->
        <!--tools:ignore="GoogleAppIndexingWarning">-->

        <!--<activity-alias-->
            <!--android:name=".Launcher"-->
            <!--android:label="@string/app_name"-->
            <!--android:targetActivity="com.qhn.mybase.test.home.Home2Activity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity-alias>-->
        <!--<activity android:name=".MainActivity" />-->

        <!--<activity-->
            <!--android:name=".test.MainActivity"-->
            <!--android:theme="@style/AppTheme.LauncherTheme" />-->
        <!--<activity-->
            <!--android:name=".test.OnBoardingWithSimpleBackground"-->
            <!--android:theme="@style/AppTheme.Simple" />-->
        <!--<activity-->
            <!--android:name=".test.OnboardingWithCenterAnimationActivity"-->
            <!--android:theme="@style/AppTheme.CenterAnimation" />-->

        <!--<activity android:name="com.qhn.mybase.test.home.HomeActivity" />-->
        <!--<activity android:name="com.qhn.mybase.test.home.PagingActivity" />-->
        <!--<activity android:name="com.qhn.mybase.test.home.Home2Activity" />-->
        <!--<activity android:name=".test.TestActivity" />-->
        <!--<activity android:name=".test.TestDiffUtilsActivity" />-->
    <!--</application>-->

</manifest>